{{#partial "content"}}

    <span id="index" style="padding-left: 300px;">
    <h1 class="index">WILDLIFE TRACKER APPLICATIPN</h1>
        <h3>Olla Ranger!!</h3>
        <p>The application helps you to track wildlife sighting in the area<br>It's fun and less paper work for you!</p>
        <p>The application also allows you to state if the animal on Site is endengered</p>
        <p>Have fun working</p>
<div class = "space"></div>
<div class = "space"></div>

<div class="btns">
    <a href="/animal/new"><button class="btn btn-cyan">Add Animal to System</button></a>

</div>
</span>

{{/partial}}
{{> layout.hbs}}
